# Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import os

# Creating easy link to file

In [2]:
path = r'C:\Users\ranji\Boat Analysis'

# Importing file

In [3]:
df = pd.read_csv(os.path.join(path, 'Data', 'Original Data', 'Boats.csv'), index_col = False)

In [4]:
df.shape

(9888, 15)

In [5]:
df.dtypes

Boat Type                       object
Manufacturer                    object
Type                            object
Year Built                       int64
Price (EUR)                      int64
Length                         float64
Width                          float64
Material                        object
Number of views last 7 days      int64
Location                        object
Unnamed: 10                     object
Unnamed: 11                     object
Unnamed: 12                     object
Unnamed: 13                     object
Unnamed: 14                     object
dtype: object

In [6]:
# Deleting unnamed columns:
del df['Unnamed: 10']
del df['Unnamed: 11']
del df['Unnamed: 12']
del df['Unnamed: 13']
del df['Unnamed: 14']

In [7]:
df.isnull().sum()

Boat Type                         0
Manufacturer                   1338
Type                              6
Year Built                        0
Price (EUR)                       0
Length                            9
Width                            56
Material                       1749
Number of views last 7 days       0
Location                         36
dtype: int64

In [8]:
df_clean = df.dropna(subset = ['Year Built','Length', 'Width', 'Location'])

In [9]:
df_clean.shape

(9796, 10)

In [10]:
df_clean.describe()

,Year Built,Price (EUR),Length,Width,Number of views last 7 days
count,9796.000000,9.796000e+03,9796.000000,9796.000000,9796.000000
mean,1892.353205,3.182380e+05,11.537515,3.513650,149.352082
std,461.835773,1.008421e+06,5.973664,1.214407,152.219432
min,0.000000,3.300000e+03,1.040000,0.010000,13.000000
25%,1996.000000,4.396850e+04,7.457500,2.540000,70.000000
50%,2007.000000,9.500000e+04,10.230000,3.320000,108.000000
75%,2017.000000,2.500000e+05,13.900000,4.250000,172.000000
max,2021.000000,3.100000e+07,100.000000,25.160000,3263.000000

In [11]:
# Deleting rows with Year Built = 0
df_new = df_clean.drop(index = df_clean[df_clean['Year Built']==0].index)

In [12]:
df_new.head()

,Boat Type,Manufacturer,Type,Year Built,Price (EUR),Length,Width,Material,Number of views last 7 days,Location
0,Motor Yacht,Rigiflex power boats,new boat from stock,2017,3337,4.00,1.90,NaN,226,Switzerland
1,Center console boat,Terhi power boats,new boat from stock,2020,3490,4.00,1.50,Thermoplastic,75,Germany
3,Sport Boat,Pioner power boats,new boat from stock,2020,25900,3.00,1.00,NaN,64,Denmark
4,Fishing Boat,Linder power boats,new boat from stock,2019,3399,3.55,1.46,Aluminium,58,Germany
6,Catamaran,NaN,"Used boat,Unleaded",1999,3600,6.20,2.38,Aluminium,474,Switzerland

In [13]:
df_new.duplicated().sum()

0

In [15]:
df_new.to_csv(os.path.join(path, 'Data','Prepared Data', 'boats_clean.csv'))